@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Solway:300,400,500,700,800&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
#estatisticas {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 90%;
    background-color: #333;
    margin: auto;
    margin-top: 140px;
    border-radius: 4px;
}
#title {
    text-align: center;
    font-size: 50px;
    color: #ffe1be;
}
#foto > div {
    height: 400px;
    width: 90%;
    margin-left: 5%;
    margin-top: 150px;
    border: 4px dashed #858585;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;
    cursor: pointer;
}
#foto > div > img {
    height: 400px;
    width: 50%;
    margin-left: 25%;
}
#foto > input {
    display: none;
}